.card-title {
    margin-top: 4px;
    color: #F74999;
}

.product {
    margin-top: -6px;
}

.part-two {
    display: flex;
    padding: 10px;
    padding-top: 0px;
    justify-content: center;
    a {
       text-align: center;
       padding-left: 0;
       padding-right: 0;
    }
    div {
        align-items: center;
    }
}

.blue-car:hover {
    cursor: pointer;
}