.card-title {
    margin-top: 4px;
    color: #F74999;
}

.product {
    margin-top: -6px;
}

.part-two {
    display: flex;
    padding: 10px;
    padding-top: 0px;
    justify-content: center;
    a {
       text-align: center;
       padding-left: 0;
       padding-right: 0;
    }
    div {
        align-items: center;
    }
    div a {
        color: #484242;
        background-color: #A0EBF5;
        padding-left: 1px;
        padding-right: 1px;
        cursor: pointer;
        :hover & {
            text-decoration: none;
        }
    }
}

input {
    border: 0.05px solid #EBEBEB;
    z-index: 0;
}

.blue-car:hover {
    cursor: pointer;
}