#carousel {
    position: relative;
}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1px black;
    z-index: 1;
}

#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}