nav {
    background-color: #F74999;
}

.nav-item div {
    background-color: #F74999;
}

.nav-item div a {
    color: white;
}

.nav-item div a:hover {
    background-color: #F74999;
    color: #A0EBF5;
}