nav {
    background-color: #F74999;
    display: inline-flex;
}

.nav-item div {
    background-color: #F74999;
}

.nav-item div a {
    color: white;
}

.nav-item div a:hover {
    background-color: #F74999;
    color: #A0EBF5;
}

@media screen and (min-width: 767.98px) {
    .nav-item div a {
        padding-left: 8px;
    }
}
    
